<?xml version="1.0"?>
<model>
  <name>turtlebot3_target</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>MR_26_12</name><email>root@todo.todo</email></author>
  <description>ROBOTIS TurtleBot3 Burger with an ArUco panel on the rear. Target robot.</description>
</model>
